@import '../styles/_variables.scss';

.dropdown {
  display: none;
}

@media screen and (min-width: 1200px) {
  .dropdown {
    display: block;
    top: 0px;
  }

  .dropdownNav {
    border: 1px solid $dividergray;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-left: 100px;
    .listHeader {
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      li {
        line-height: 2.5rem;
      }
    }
    .navImage {
      width: 420px;
      height: 355px;
      position: relative;
      overflow: hidden;
      img {
        transform: translate(-32%, 0%);
        width: 120%;
      }
    }
  }
}
