@import '../styles/_variables.scss';

h1 {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.1em;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.line {
  display: block;
  width: 35px;
  height: 1px;
  background-color: $orange;
  margin: 0 auto;
}

//Delivery section

.deliveryHero {
    text-align: center;
    background-color: $blue;
    background-image: url('../assets/delivery-hero_ext.jpg');
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 540px;
    position: relative;
    h1 {
      padding-top: 60px;
      position: relative;
      color: white;
    }
    h4 {
      font-size: 18px;
      position: relative;
      color: white;
      margin-bottom: 40px;
    }
    .btn-fill {
      position: relative;
    }
  }

.colorOverlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .4;
  position: absolute;
}

.box {
  h2 {
    padding-top: 15px;
  }
  .stepSection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    .stepWrapper {
      display: inline;
      margin-left: 50px;
      .step {
        display: flex;
        align-items: center;
        padding: 20px;
        .number {
          font-size: 120px;
          font-weight: bold;
          color: $orange;
        }
        .text {
          position: absolute;
          margin-left: -40px;
          font-weight: bold;
          text-align: left;
          .border {
            display: block;
            height: 1px;
            background: black;
            width: 110%;
          }
          .subtext {
            display: block;
            font-weight: lighter;
            font-size: 14px;
          }
        }
      }
    }
  }
}

//Drinks section

.drinksHero {
  background-color: #BBEDEE;
  background-image: url('../assets/drinks-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  p {
    margin: 20px auto 40px;
  }
}

.drinksProducts {
  h2 {
    margin-top: 40px;
  }
  .products {
    ul {
      padding: 0px;
      margin: 40px 0px;
      li {
        display: inline-block;
        padding: 10px 10px 0px;
        a {
          color: $orange;
          &:hover {
            color: rgba(255,94,72, .8);
          }
          .thumb {
            overflow: hidden;
            position: relative;
            img {
              height: 270px;
            }
            p {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

//Cleanse section

.cleanseSection {
  background-image: url('../assets/cleanse-blue-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 540px;
  display: flex;
  align-items: center;
  position: relative;
  h1, h2, button {
    position: relative;
  }
  p {
    margin-bottom: 40px;
    position: relative;
  }
}

.colorOverlayWhite {
  width: 100%;
  height: 100%;
  opacity: .7;
  position: absolute;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 35%, rgba(255,255,255,0.6) 65%, rgba(255,255,255,0) 100%);
}

//Locations section

.locationSection {
  h2 {
    margin-top: 40px;
  }
  .location {
    .locationImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .overlay {
      .imgText {
        display: none;
      }
    }
    ul {
      padding: 0px;
      margin: 40px 0px;
      li {
        display: inline-block;
        padding: 10px 10px 0px;
        a {
          text-align: left;
          color: $orange;
          .thumb {
            margin-bottom: 20px;
            .storeInfo {
              h4 {
                text-transform: uppercase;
                margin: 10px 0px 5px;
              }
              p {
                color: $black;
                margin: 0px;
              }
            }
          }
          &:hover {
            color: rgba(255,94,72, .8);
          }
          .thumb {
            overflow: hidden;
            position: relative;
            img {
              height: 180px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .drinksHero {
    background-position: unset;
  }
}

@media screen and (min-width: 768px) {
  .products {
    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      color: $orange;
      text-transform: uppercase;
      opacity: 0;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid $orange;
      height: 270px;
      position: absolute;
      left: 0;
      top: 0px;
      transition: opacity 500ms cubic-bezier(0.5, 0, 0.25, 1);
      width: 99%;
      .imgText {
        visibility: hidden;
      }
      &:hover {
        opacity: 1;
        .imgText {
          visibility: visible;
        }
      }
    }
  }
  .deliveryHero {
    text-align: left;
    .colorOverlay {
      opacity: 0;
    }
    h1 {
      color: black;
      max-width: 410px;
    }
    h4 {
      max-width: 410px;
      color: black;
    }
  }
  .box .stepSection .stepWrapper {
    display: flex;
    .step {
      padding: 50px;
    }
  }
  .cleanseSection {
    .colorOverlayWhite {
      opacity: 0;
    }
  }
  .location {
    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      color: $orange;
      text-transform: uppercase;
      opacity: 0;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid $orange;
      height: 180px;
      position: absolute;
      left: 0;
      top: 0px;
      transition: opacity 500ms cubic-bezier(0.5, 0, 0.25, 1);
      width: 100%;
      box-sizing: border-box;
      &:hover {
        opacity: 1;
        .imgText {
          display: block;
        }
      }
    }
  }
}