@import '../styles/_variables.scss';

.mainNav {
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid $dividergray;
  top: 0;
  ul {
    list-style: none;
  }
}

.fixed-nav {
  position: fixed;
  width: 100%;
}

.absolute-nav {
  position: absolute;
  top: 46px;
  width: 100%;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
  color: $orange;
  }
}

.mainNav-lg {
  display: none;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 10px;
      text-transform: uppercase;
    }
  }
}

.cart {
  font-family: 'Abel', sans-serif;
}

@media screen and (min-width: 1200px) {
  .mainNav-lg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
  }

  .logoComp {
    padding: 0 30px;
    img.logo {
      position: relative;
      top: 4px;
      margin-right: 10px;
      height: 2rem;
    }
    span.juice {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 2px;
    }
    span.served {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      top: -4px;
    }
  }
}




