@import '../styles/_variables.scss';

.mainNav-mobile {
  .menuBar span {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    line-height: 60px;
  }

  #bars {
    width: 40px;
  }

  #menu {
    position: absolute;
    height: calc(100vh);
    width: 100%;
    background-color: white;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: -webkit-transform 300ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    z-index: 1;
    left: 0px;
    padding-top: 25px;
    margin-top: 26px;
    border-right: 1px solid $dividergray;
    border-top: 1px solid $dividergray;
    ul {
      margin-top: 0px;
      padding: 0px;
      list-style-type: none;
      text-align: left;
      text-transform: uppercase;
      li {
        padding: 20px 40px;
      }
    }
    .sublistName {
      display: flex;
      justify-content: space-between;
    }
  }

  #menu.isOpen {
    -webkit-transform: none;
    transform: none;
  }
}

@media screen and (min-width: 420px) {
  .mainNav-mobile #menu {
    width: 280px;
  }
}

.navOpen {
  overflow: hidden;
}